#RedBox{
	background-color: #E14F4F;
	box-shadow: 3px 3px #6D6D6D;
}

#side{
	background-color: black;
}

.row {
    height:100%;

}

.col-2 {
    
    margin-bottom: -50%;
    overflow: hidden;
}

.col-2 {
    
    overflow: hidden;
}